<style type="text/css">
    .banner-h5__list{
    padding: 13px 13px 0px;
    }
    .banner-h5__cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    }
    .channel-group__footer{
        display:block;
        border-top:10x solid #f0f0f0;
        text-align:center;
        font-size:14px; 
        padding:19px 0;
    }
</style>
<section class="channel-h5">
    <div class="channel-h5__header"><!--专题列表顶栏-->
        <p class="channel-h5__title">精选专题<i>热</i></p>
    </div>
    <div class="banner-h5__list"><!--精选活动栏-->
        <img src="/static/img/slider-banner-cover.jpg"/>
        <img src="/static/img/slider-banner-cover2.jpg"/>
    </div>
    <div>
        <a class="channel-group__footer" href="/专题书单">更多精彩专题&gt;&gt;</a>
    </div>
</section>