<section class="channel-h5">
    <div class="channel-h5__header"><!--专题列表顶栏-->
        <p class="channel-h5__title">精选专题<i>热</i></p>
    </div>
    <div class="banner-h5__list"><!--精选活动栏-->
        <div class="banner-h5__cover">
            <img src="/static/img/slider-banner-cover.jpg"/>
        </div>
        <div class="banner-h5__cover">
            <img src="/static/img/slider-banner-cover2.jpg"/>
        </div>
    </div>
    <a class="channel-group__footer" href="/todozhuantishudan">更多精彩专题&gt;&gt;</a>
</section>