<style type="text/css">
    .channel-h5__footer_next{
        border-top:1px solid #f0f0f0;
        overflow:hidden;
    }
    .channel-h5__footer_next>a{
        float:left;/*可以用flex布局，也可以用float来做*/
        width:50%;
        padding:14px;
        box-sizing:border-box;
        font:13px/1.3em a;
        color:rgba(0,0,0,0.9);
        text-align:center;
    }
    .channel-h5__footer_next>a:first-child{
        border-right:1px solid #f0f0f0;
    }

</style>
<section class="channel-h5">
    <div class="channel-h5__header"><!--男生频道列表顶栏-->
        <p class="channel-h5__title">男生频道</p>
    </div>
    <div>
        <div>
            <ul class="list-h5"><!--书籍列表-->
                <li><!--带封面书籍-->
                    <div class="book-h5">
                        <div class="book-h5__cover">
                            <img src="/static/img/book-cover1.jpg"/>
                            <p class="book-h5__finish">完结</p> 
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">书名</p>
                            <p class="book-h5__author">作者</p>
                            <p class="book-h5__summary">简介</p>
                            <div class="book-h5__wrap">
                                <div class="book-h5__tag">标签</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><!--带封面书籍-->
                    <div class="book-h5">
                        <div class="book-h5__cover">
                            <img src="/static/img/book-cover1.jpg"/>
                            <p class="book-h5__finish">完结</p> 
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">书名</p>
                            <p class="book-h5__author">作者</p>
                            <p class="book-h5__summary">简介</p>
                            <div class="book-h5__wrap">
                                <div class="book-h5__tag">标签</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><!--带封面书籍-->
                    <div class="book-h5">
                        <div class="book-h5__cover">
                            <img src="/static/img/book-cover1.jpg"/>
                            <p class="book-h5__finish">完结</p> 
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">书名</p>
                            <p class="book-h5__author">作者</p>
                            <p class="book-h5__summary">简介</p>
                            <div class="book-h5__wrap">
                                <div class="book-h5__tag">标签</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><!--带封面书籍-->
                    <div class="book-h5">
                        <div class="book-h5__cover">
                            <img src="/static/img/book-cover1.jpg"/>
                            <p class="book-h5__finish">完结</p> 
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">书名</p>
                            <p class="book-h5__author">作者</p>
                            <p class="book-h5__summary">简介</p>
                            <div class="book-h5__wrap">
                                <div class="book-h5__tag">标签</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="channel-h5__footer_next">
            <a href="javascript:">换一换</a>
            <a href="javascript:">男生频道</a>
        </div>
    </div>
</section>